<div class="container">

    <!-- Search field -->
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Books <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a>Books</a></li>
                        <li><a>Films</a></li>
                        <li><a>Socks</a></li>
                    </ul>
                </div>
                <input type="text" placeholder="Search..." class="form-control" aria-label="Search...">
            </div>
        </div>
    </div>

    <!-- Item list -->
    <div class="row">
        <div class="col-lg-10">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>State</th>
                    <th>Price</th>
                    <th>User</th>
                    <th>User Rating</th>
                    <th>Added</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>title</td>
                    <td>state</td>
                    <td>x kr</td>
                    <td><span class="glyphicon glyphicon-user"></span>  user</td>
                    <td>user rating</td>
                    <td>added</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
